<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Create Your Profile</h1>
    <p class="text-center">Be a part of the Dev Match community and fill out your profile!</p>
    <div class="well">
      <%= form_for @profile, url: user_profile_path do |f| %>
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :favorite_team %>
          <%= f.text_field :favorite_team, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :favorite_sport_level %>
          <%= f.select :favorite_sport_level, ['College', 'Professional'], {}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :age_range %>
          <%= f.select :age_range, ['< 18', '18-24', '25-34', '35-44','45-54', '55 >'], {}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :country %>
          <%= f.text_field :country, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "Update Profile", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>