    <div class="row">
        <div class="col-md-4 text-center">
            <%= image_tag @user.profile.avatar.url, class: "user-show-avatar img-circle" %>
            <h2><%= @user.profile.username %></h2> <h3><span><%= favorite_team_icon %></span> <%= @user.profile.favorite_sport_level %>, <%= @user.profile.favorite_team %></h3>
        </div>
            <div class="col-md-8">
                <div class="well">
                    <h2>Description</h2>
                    <h4><%= @user.profile.description %></h4>
                    <h3>Age</h3>
                    <h5><%= @user.profile.age_range %></h5>
                    <h4>Country</h4>
                    <h5><%= @user.profile.country %></h5>
                </div>
            </div>
        </div>
        </div>


    